body {
    background: url('../images/bkground2.jpg');
    background-size: cover;   
}

.btn {
    margin: 15px 5px 0px 0px;
    background-color: rgb(10, 10, 10);
    color: rgb(218, 216, 216);
}

.btn:hover, .btn:active, .btn:focus, .btn:visited, .btn:link {
    color: rgb(10, 10, 10);
    background-color: rgb(218, 216, 216);
}

#add-topic {
    float: left;
    margin-left: 5px;
}

#topics-form {
    margin: 15px 0 15px 0px;
}

#title {
    text-align: center;
    padding: 30px 0px;
    border: 3px dashed darkcyan;
    border-radius: 25px;
    margin-top: 15px;
    background: url('../images/side.jpg');
    background-size: 100% 100%;
    color: rgb(255, 115, 0);
    text-shadow: 3px 3px 2px rgb(27, 12, 9);
}

.form-control {
    width: 40%;
}

.addFav {
    font-size: 15px;
    color: rgb(250, 253, 253);
    text-shadow: 2px 2px 2px rgb(27, 12, 9);

}

a {
    color: chartreuse
}

.image {
    float: left;
}

.image p {
    font-size: 20px;
    color: rgb(255, 115, 0);
    text-shadow: 2px 2px 2px rgb(27, 12, 9);
}

#gifs {
    clear: both;
    margin-left: 15px;
}

img {
    border: 2px solid darkcyan;
    margin: 10px;
    
}