.btn {
    margin: 15px 5px 15px 0px;
}

.btn:first-child {
    margin-left: 15px;
}

#topics-form {
    margin: 0 0 15px 15px;
}

.image {
    float: left;
    margin: 10px;
}

.image p {
    font-size: 20px;
}

#gifs {
    clear: both;
    margin-left: 15px;
}